{% extends "home-header.html" %}


{% block script %}
<script>
function request() {
    var value = document.getElementById('entry').value;

    var xmlHttp = new XMLHttpRequest();
    {# Change to be a post request. #}
    xmlHttp.open("POST", '/dbx_access_token', false);
    xmlHttp.send(value);
}
</script>
{% endblock %}
{% block body %}

<div class="box">
	<label>Enter the code:</label>
	<input id="entry" value="" style="width:70%; hight: 24px"/>
    <button onclick="request()">Send</button>
</div>

{% endblock %}
