<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset=utf-8>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Tor-Haakon Gjone {% endblock %}</title>
	<link href="{{ url_for('static', filename='res/photo.png')}}" rel="shortcut icon">

    {# <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet"> #}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

{% block script %} 
{% endblock %}

<body>

<div class="header-panel">
    <div class="brand"> <a href="/">
	<img style="max-height:115px" src="{{ url_for('static', filename='res/photo.png')}}">
    </a> </div>
    
    <div align=right class="name">Tor-Haakon<br>Gjone</div>

    <div class="navbar">
{# {% block navbar %}
 <a href="/">Main Page</a>
 | <a href="/cv">CV</a>
 | <a href="/papers">Papers</a>
 | <a href="/notes">Notes</a>
 | <a href="/contact">Contact</a>
{% endblock %} #}

{% filter navbar %}{% block navbar %}
Main Page:  /
CV:         /cv
Papers:     /papers
Contect:    /contact
{% endblock %}{% endfilter %}
    </div>

</div>


<div align="center" style="margin-top: 13px; min-height:100%">
{% block body %} {% endblock %}
</div>


</body>

</html>
