{% extends "home-header.html" %}

{% block body %}
<div class="splashes">


<img src="http://projecteuler.net/profile/nokorot.png" alt="my Project Euler profile" title="my Project Euler profile">

<a href="https://github.com/Nokorot">
<img src="{{ url_for('static', filename='res/GitHub-Mark-Light-64px.png')}}" 
        alt="my Project Euler profile" title="my Project Euler profile"></a>

<a href="https://dashboard.heroku.com/apps/torh-gjone">Heroku</a>

<a href="https://www.dropbox.com/sh/avxhzn18az0nv89/AAB4rxWsFaOq0lJMbJetWO_va?dl=0">DB_Docs</a>


</div>
{% endblock %}
