{% extends "header.html" %}

{% block body %}
<div  style="margin-top: 13px">

    <details open>
        <summary class="alpha">Bashlor's Dissertation</summary>
<ul align=left style="list-style-type:none">
    
    {# Might want to generate this with jinge or from a database #}

    <li><details>
    <summary class="beta">Legendrian knots and an A_infinity-conrtuction of the Checanov dga invariance</summary>
        <ul style="list-style-type:none" class="delta">
            <li><a href="/papers/legendrian_knots.pdf">[ PDF ]</a></li>
            In a 2002 paper by Chekanov Y., he constructs a new inveriant of Legendiran knots. {#, which ilustrates  regaring Legendrian knots unkown at the time.#}
            This invarient, was contructed in the language of dga's. The main focus of this paper is to recreate this invarient in the language of A_∞-algebra, corresponding to the dual of construction with dga's in Chekanov’s paper.
        </ul>
    </details></li>

</ul>
    </details>



</div>







{% endblock %}
