
<!-- <script src="https://raw.githubusercontent.com/pipwerks/PDFObject/master/pdfobject.min.js"></script> -->


<object data="static/papers/legendrian_knots.pdf" type="application/pdf" width="100%" height="100%">
 
    <div id="example1"></div>


    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@14.2.1/dist
    /smooth-scroll.min.js"></script>
    <script>
    //Embed the sample PDF
    PDFObject.embed("static/papers/legendrian_knots.pdf", "#example1");
    </script>

    <a href="myfile.pdf">to the PDF!</a>
</object>
